<!-- 오른쪽에 있는 네비게이션 설정 부분 -->

{% for page in site.pages %}
  {% unless page.name == '404.md' or page.name == 'style-guide.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}


<!--
   or page.name == 'style-guide.md'
{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.name == 'about.md' %}
      {% if page.title %}
        <li class='c-nav__item' role='presentation'>
          <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
        </li>
      {% endif %}
    {% else %}
      {% if page.title %}
        <li class='c-nav__item' role='presentation'>
          <a class='c-nav__link' href='{{ site.baseurl }}/tags/#{{ page.category }}'>{{ page.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endunless %}
{% endfor %}
-->