/*------------------------------------*\
  Objects > Wrapper
\*------------------------------------*/

.o-wrapper {
  padding: $base-spacing-unit 0;
  
  @include mq($from: tablet) {
    padding: double($base-spacing-unit) 0;
  }
}

/**
 * Sticky footer
 */
.c-off-canvas-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .o-wrapper { 
    flex: 1 0 auto; 
    width: 100%;
    overflow-x: hidden;
  }
}