/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  // 본문
  color: $color-text;
  //font-size: $font-size-base;
  font-size: $font-size-medium;
  font-family: $font-base;
  //line-height: $line-height-base;
  line-height: $line-height-medium;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

p { margin: 3px 0px 3px 0px; line-height: 30%; }

*::selection {
  color: $color-white;
  background: $color-brand;
}
