---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <!--<a href='{{ site.baseurl }}/tags/{{ tag }}'>{{ tag }}</a>-->
            <a href='{{ site.baseurl }}/tags/?tag={{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <hr>

        <!--{% include disqus.html %}-->

      </article>
    </div>
  </div>
</div>


{% for tag in site.tags %}
<h2>{{ tag[0]}} </h2>
<ul>
    {% for post in tag[1] %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}