---
layout: default
---
<!--
<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <h4>{{ page.tag }}</h4>
    </div>
  </div>

  <div class='o-grid'>
    {% for post in page.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>

</div>
-->
??
<h2>{{ page.tag }}</h2>
a
<ul>
{% for post in page.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>
{% endfor %}
</ul>
b
<div id="tag-cloud">
  {{ site | tag_cloud }}
</div>